h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

label {
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
}

.container-fluid {
    --bs-gutter-x: 0;
}

.card-formulario {
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
}

/** Margen para los botones**/
.btn-add {
    margin-top: 20px;
}

.btn-edicion {
    margin-top: 10px;
}

/**Footer**/
.footer {
    margin-top: 25px;
    padding: 25px;
    text-align: center;
}

/** .bg-body-tertiary {
    --bs-bg-opacity: 5;
    background-color: rgba(62, 152, 62, 0.45);
} **/

/** Centrado del navbar **/
.navbar-nav {
    margin: 0 auto;
}

/** Navbar **/
.nav-item a {
    color: green;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.nav-item a:hover {
    color: rgb(23, 183, 23);
}

/** Espacio para el formulario de estudiante **/

html, body {
    height: 100%;
}

.content-wrapper {
    min-height: calc(100% - (92px));
    padding-bottom: 100px;
}

/** Espacio entre el contenido y el titulo **/
.c-container {
    margin-top: 25px;
}

.form-date {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}